In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

DATA_PATH = Path().cwd().parent / 'data'
DATA_PATH

WindowsPath('c:/Users/ethan/Documents/GitHub/ba305/data')

In [20]:
movies = pd.read_csv(DATA_PATH / 'movies.csv')
movies.head()

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,436270,Black Adam,Action-Fantasy-Science Fiction,en,Nearly 5000 years after he was bestowed with t...,10405.742,New Line Cinema-Flynn Picture Company-Seven Bu...,2022-10-19,200000000.0,368000000.0,125.0,Released,The world needed a hero. It got Black Adam.,7.293,2256.0,Dwayne Johnson-Aldis Hodge-Noah Centineo-Sarah...,lightning-anti hero-superhero-based on comic-d...,/pFlaoHTZeyNkG83vxsAJiGzfSsa.jpg,/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg,663712-49046-642721-963954-365297-887731-63113...
1,724495,The Woman King,Action-Drama-History,en,The story of the Agojie the all-female unit of...,5175.704,TriStar Pictures-Entertainment One-JuVee Produ...,2022-09-15,50000000.0,91000000.0,135.0,Released,Her reign begins.,7.905,540.0,Viola Davis-Thuso Mbedu-Lashana Lynch-John Boy...,africa-arranged marriage-warrior woman-based o...,/438QXt1E3WJWb3PqNniK0tAE5c1.jpg,/7zQJYV02yehWrQN6NjKsBorqUUS.jpg,49046-436270-913290-619730-882598-913816-80093...
2,829799,Paradise City,Crime-Action-Thriller,en,Renegade bounty hunter Ryan Swan must carve hi...,3475.823,Arcana Studio-308 Enterprises-Yale Productions...,2022-11-11,20000000.0,0.0,93.0,Released,NaN,6.250,28.0,John Travolta-Bruce Willis-Blake Jenner-Praya ...,NaN,/uGuHHS9SWv7MrFhCH6zoGGd7DA8.jpg,/au4HUSWDRadIcl9CqySlw1kJMfo.jpg,879444-1018494-1015724-1026706-1032427-945444-...
3,872177,Corrective Measures,Science Fiction-Action,en,Set in San Tiburon the world's most dangerous ...,3197.165,The Exchange-Tubi TV-Arcana Productions,2022-04-29,0.0,0.0,106.0,Released,Anarchy in the world's most dangerous prison.,5.000,31.0,Bruce Willis-Hayley Sales-Michael Rooker-Kat R...,based on comic-lockdown-prison measures,/aHFq9NMhavOL0jtQvmHQ1c5e0ya.jpg,/8Tr79lfoCkOYRg8SYwWit4OoQLi.jpg,1001717-639933-648579-755566-526896-725201
4,948276,Lost Bullet 2,Action-Drama-Thriller,fr,Having cleared his name genius mechanic Lino h...,2473.897,Versus Production-Nolita-Inoxy Films,2022-11-10,0.0,0.0,98.0,Released,NaN,6.729,133.0,Alban Lenoir-Stéfi Celma-Pascale Arbillot-Séba...,french film,/uAeZI1JJbLPq7Bu5dziH7emHeu7.jpg,/a64zCJnqOwHYdFHfdQFqQcxYSAz.jpg,NaN

In [21]:
movies.shape

(735823, 20)

In [22]:
tmdb = pd.read_csv(DATA_PATH / 'tmdb_5000_movies.csv')
tmdb

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [23]:
for i in tmdb['id']:
    if i not in movies['id']:
        print(i)

In [24]:
[1 for i in tmdb['id'] if i not in movies['id']]

[]

In [25]:
merged = pd.merge(movies, tmdb, how='outer', left_on='id', right_on='id', suffixes=('_movies', '_tmdb'))
merged.describe()

,id,popularity_movies,budget_movies,revenue_movies,runtime_movies,vote_average_movies,vote_count_movies,budget_tmdb,popularity_tmdb,revenue_tmdb,runtime_tmdb,vote_average_tmdb,vote_count_tmdb
count,735871.000000,735823.000000,7.358230e+05,7.358230e+05,6.986630e+05,735823.000000,735823.000000,4.910000e+03,4910.000000,4.910000e+03,4907.000000,4910.000000,4910.000000
mean,526545.075210,1.870561,3.828745e+05,9.470205e+05,1.970302e+02,2.449369,26.339542,2.844178e+07,21.051206,8.047457e+07,106.427960,6.052872,675.505092
std,252309.903274,19.164325,8.083487e+06,1.965047e+07,8.518390e+04,3.175621,367.166008,4.048626e+07,31.607771,1.615171e+08,23.002735,1.276922,1225.044376
min,2.000000,0.600000,0.000000e+00,-1.200000e+01,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,329461.500000,0.600000,0.000000e+00,0.000000e+00,5.000000e+00,0.000000,0.000000,3.000000e+05,4.256042,0.000000e+00,93.000000,5.600000,48.000000
50%,533343.000000,0.600000,0.000000e+00,0.000000e+00,5.000000e+01,0.000000,0.000000,1.365000e+07,12.495849,1.751554e+07,103.000000,6.200000,221.000000
75%,736080.500000,1.318000,0.000000e+00,0.000000e+00,9.000000e+01,5.600000,2.000000,4.000000e+07,27.704167,9.044405e+07,117.000000,6.800000,718.000000
max,968161.000000,10405.742000,5.000000e+09,2.920357e+09,5.050505e+07,10.000000,32673.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [26]:
merged[['id']].value_counts()

id
751820    4
548063    3
535437    3
543335    3
452391    3
         ..
968119    1
968120    1
968121    1
968122    1
18        1
Name: count, Length: 662131, dtype: int64

In [27]:
merged[merged['id'] == 751820]

,id,title_movies,genres_movies,original_language_movies,overview_movies,popularity_movies,production_companies_movies,release_date_movies,budget_movies,revenue_movies,...,production_countries,release_date_tmdb,revenue_tmdb,runtime_tmdb,spoken_languages,status_tmdb,tagline_tmdb,title_tmdb,vote_average_tmdb,vote_count_tmdb
565376,751820,Caught in Time,Action-Crime-Drama,zh,A detective tracks down a gang of criminals te...,4.775,Emperor Motion Pictures,2020-11-27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565377,751820,Caught in Time,Action-Crime-Drama,zh,A detective tracks down a gang of criminals te...,4.087,Emperor Motion Pictures,2020-11-27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565378,751820,Caught in Time,Action-Crime-Drama,zh,A detective tracks down a gang of criminals te...,3.015,Emperor Motion Pictures,2020-11-27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565379,751820,Caught in Time,Action-Crime-Drama,zh,A detective tracks down a gang of criminals te...,3.015,Emperor Motion Pictures,2020-11-27,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN